.common__btn {
  outline: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  padding: 15px 32px;
  background-color: transparent;
  border: 1px solid var(--btn-clr);
  color: var(--primary-clr);
  transition: all 0.5s;
  @include breakpoint(md) {
    padding: 13px 27px;
  }
  &:hover {
    opacity: 0.9;
  }
}
