:root {
  --body-clr: #142220;
  --main-clr: #417972;
  --btn-clr: #f2d381;
  --primary-clr: #ffffff;
  --secondary-clr: #1A1A1A;
  --grayBlack-clr: #051F0D;
  --gry-clr: #6e6f75;
  --grayWhite-clr:#e3ece7;
  --pra-clr:#e3ece7ab;
}
